$primary-color: #ffd740;

$accent-text: #000;
$primary-text: #212121;
$secondary-text: #424242;
$highlighted-text: #64ffda;

$font-stack: 'Source Sans Pro', 'Sans-Serif';
//------------------------------------------

.secondary {
  color: $secondary-text;
}

body, p, h1, h2, h3, h4, h5, h6 {
  font-family: $font-stack  !important;
  color: $primary-text;
}

h2, h3, h4, h5, h6 {
  font-weight: 300 !important;
}


#side-menu {
  position: fixed;
  right: -15px;
  z-index: 1;
  -webkit-transform-origin: right top;
  -webkit-transform:rotate(-90deg) translateY(-100%);

  ul {
    width: 100vh;
    text-align: center;
    height: 52px;

    li {
      display: inline; 

      a {
        color: $secondary-text;
        margin: 10px;
        height: 100%;
        line-height:52px;
        font-size: 1.3em;
        &:hover {
          color:$accent-text;
          font-weight: bold;
        }
      }
    }
  }
}

#header  {
  height: 100vh;

  .parallax {
    background-color: $primary-color;
    width: 100%;
    position: fixed;

    h1 {
      color: $accent-text;
      font-size: 10vw;
      font-weight: 900;
      margin-top: 23vh;
      letter-spacing: -.03571em
    }
    h2 {
      color: $primary-text;
      font-size: 2.5vw;
      .typed-cursor{
        font-size: 2.5vw;
        opacity: 1;
        -webkit-animation: blink 0.7s infinite;
        -moz-animation: blink 0.7s infinite;
        animation: blink 0.7s infinite
      }
    }
    p {
      margin-top: 42vh;
    }
  }
}

#power-symbol {
  #power {
    visibility: hidden;
    margin: 35vh 0 0 0;  
    opacity: 0.75;
    position: absolute;
    background-image: url('/images/power-overlay.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding: 100% 0 0 0 ; 
  }
  #lightVideo {
    padding: 0;
    border-radius: 100%;
    margin: 35vh 0 0 0;  
    width: 100%;
  }
}



.section.whiteSpace {
  height: 150px;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}



.carousel-cell img {
  display: block;
  height: 300px;
}

@media screen and ( min-width: 768px ) {
  .carousel-cell img {
    height: 400px;
  }
}
mark{background: $highlighted-text !important;}

#about{padding-top: 200px; padding-bottom: 200px;}
#projects{padding-top: 200px; padding-bottom: 200px;}
#services{padding-top: 200px; padding-bottom: 200px;}

h4.aboutus
{
      line-height: 2em;
          max-width: 700px;
}
