html
    head
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/js/animation-init.js"></script>
    <script src="/js/second.js"></script>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet")
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400" rel="stylesheet">

body
    #side-menu.row.fixed
        .col.hide-on-small-only.m3.l2
            ul
                li
                    a(href='#contact') Contact
                li
                    a(href='#projects') Projects
                li
                    a(href='#services') Services
                li
                    a(href='#about') About
                li
                    a(href='#header') Loaft
               

    #header.parallax-container
        .parallax
            .container
                .row
                    .col.m7
                        h1 Loaft
                        h2 <span class="element"></span>
                        a(href="#about")
                            p <i class="fa fa-arrow-down" aria-hidden="true"></i> Scroll Down
                    .col.m5
                        #power-symbol
                            div(style="position: relative;")
                                #power
                            video(id="lightVideo" loop autoplay)
                                <source src="/images/light-bulb.mp4" type="video/mp4">

    .section.white
        .container
            
            h2 a sydney web design agency
            .section.whiteSpace
            .row(id="about").scrollspy
                .col.s12
                    h1
                        mark what are we?
                    h4 Specialists in web and graphics.
                    h4 We transverse the language of design to connect you to your audience through beautiful solutions

            .section.whiteSpace
                       
            .row(id="services").scrollspy
                h1.center-align
                    mark how we can help you
                .col.s12.m6.center-align
                    h2 graphic design
                    i.large.material-icons aspect_ratio
                    h5 We enforce responsive designs
                .col.s12.m6.center-align
                    h2 web design
                    i.large.material-icons library_books
                    h5 We serve the great people of sydney
                .col.s12.m6.center-align
                    h2 SEO Optimisation
                    i.large.material-icons fast_forward
                    h5 If youve got a growing business, we'd like to hear from you 
                .col.s12.m6.center-align
                    h2 value alignment
                    i.large.material-icons fast_forward
                    h5          
           
            .section.whiteSpace
            h1.right-align(id="projects").scrollspy 
                mark our work
            .main-carousel(data-flickity='{ "cellAlign": "left", "contain": true, "wrapAround":true }')
                .carousel-cell 
                    img(src='images/1.jpg')
                .carousel-cell 
                    img(src='images/2.jpg')   
                .carousel-cell
                    img(src='images/4.jpg')
            
            
            .section.whiteSpace

    .section.contact(id="contact").scrollspy
        .container.white
            h2 contact us
            h3 email:
            h3 your message:
            h5.right-align loaft@email.com

            
                    
                
                       
                
                                         
    
