html
    head
        <link rel="stylesheet" href="css/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>





body
    div(class='container')
        h1 loaft
        h2 a sydney web design agency
        div(class='row')
            form(class='col s12')
                div(class='row')
                    div(class='input-field col s12')
                        textarea(id="textarea1",class="materialize-textarea")
                        label(for="textarea1") Your message
