html
    head
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/js/first.js"></script>
    <script src="/js/second.js"></script>
   








body
    
    

    .parallax-container.top
        .section.red.parallax
            .container
                h1.header loaft
                <div class="element"></div>
                

                   
                    

    .section.white
        .row.fixed
            .col.hide-on-small-only.m3.l2
                ul.section.table-of-contents
                    li
                        a(href='#about') About 
                    li
                        a(href='#projects') Projects
                    li
                        a(href='#contact') Contact
        .container
            
            h2 a sydney web design agency
            .section.whiteSpace
            .row(id="about").scrollspy
                .col.s12
                    h1 what are we?
                    h3 Specialists in web and graphics.
                    h3 We transverse the language of design to help you create practical and beautiful solutions

            .section.whiteSpace
                       
            .row
                div(class="col s12 m4")
                    h1 quality
                    i.large.material-icons aspect_ratio
                    h3 We enforce responsive design among visually stunning websites
                div(class="col s12 m4")
                    h1 impact
                    i.large.material-icons library_books
                    h3 We serve the great people of sydney
                div(class="col s12 m4")
                    h1 speed
                    i.large.material-icons fast_forward
                    h3 If youve got a growing business, we'd like to hear from you    
           
            .section.whiteSpace
            h1(id="projects").scrollspy our work
            .row
                .col.s12.m4
                    img.materialboxed(width='300', src='images/1.jpg')
                .col.s12.m4
                    img.materialboxed(width='300', src='images/2.jpg')    
                .col.s12.m4
                    img.materialboxed(width='300', src='images/4.jpg')
            
            .section.whiteSpace

    .parallax-container
        .section.blue.parallax
            .section.contact(id="contact").scrollspy
                .container.white
                    h2 contact us
                    h3 email:
                    h3 your message:
                    h5.right-align loaft@email.com

                    
                
                       
                
                                         
    
